Repository aaronstevenwhite/glazing: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true
  args:
  - --config-file=pyproject.toml

Adds FrameNet type definitions and validation tests.
  src/glazing/framenet/types.py
  tests/test_framenet/__init__.py
  tests/test_framenet/test_types.py
Due: ruff, ruff-format, mypy

Adds FrameNet models.
  src/glazing/framenet/models.py
  tests/test_framenet/test_models.py
Due: ruff, ruff-format, mypy

Adds further data models for FrameNet.
  src/glazing/framenet/models.py
  tests/test_framenet/test_models.py
Due: ruff, ruff-format, mypy

Adds PropBank types.
  src/glazing/base.py
  src/glazing/framenet/types.py
  src/glazing/propbank/types.py
  src/glazing/types.py
  tests/test_propbank/__init__.py
  tests/test_propbank/test_types.py
  tests/test_types.py
Due: ruff, ruff-format, mypy

Adds PropBank data models.
  src/glazing/base.py
  src/glazing/propbank/models.py
  src/glazing/types.py
  tests/test_propbank/test_models.py
  tests/test_types.py
Due: ruff, ruff-format, mypy

Adds VerbNet types.
  src/glazing/verbnet/types.py
  tests/test_verbnet/test_types.py
Due: ruff, ruff-format, mypy

Adds VerbNet data models.
  src/glazing/verbnet/__init__.py
  src/glazing/verbnet/models.py
  tests/test_verbnet/test_models.py
Due: ruff, ruff-format, mypy

Adds further data models for VerbNet.
  src/glazing/verbnet/__init__.py
  src/glazing/verbnet/gl_models.py
  src/glazing/verbnet/models.py
  src/glazing/verbnet/types.py
  tests/test_verbnet/test_frame_models.py
  tests/test_verbnet/test_gl_models.py
  tests/test_verbnet/test_models.py
Due: ruff, ruff-format, mypy

Adds WordNet types and data models.
  src/glazing/base.py
  src/glazing/types.py
  src/glazing/wordnet/models.py
  src/glazing/wordnet/types.py
  tests/test_types.py
  tests/test_wordnet/__init__.py
  tests/test_wordnet/test_models.py
  tests/test_wordnet/test_types.py
Due: ruff, ruff-format, mypy

Adds cross-reference types and data models.
  src/glazing/references/models.py
  tests/test_references/__init__.py
  tests/test_references/test_models.py
Due: ruff, ruff-format, mypy

Adds FrameNet and PropBank converters.
  pyproject.toml
  src/glazing/framenet/converter.py
  src/glazing/propbank/converter.py
  src/glazing/utils/xml_parser.py
  tests/conftest.py
  tests/test_framenet/test_converter.py
  tests/test_propbank/test_converter.py
  tests/test_utils/test_xml_parser.py
Due: ruff, ruff-format, mypy

Adds VerbNet and WordNet converters and FrameNet loader
  pyproject.toml
  src/glazing/framenet/loader.py
  src/glazing/framenet/models.py
  src/glazing/verbnet/converter.py
  src/glazing/wordnet/converter.py
  tests/test_framenet/test_loader.py
  tests/test_verbnet/test_converter.py
  tests/test_wordnet/test_converter.py
Due: ruff, ruff-format, mypy

Adds VerbNet thematic role inheritance system
  src/glazing/verbnet/inheritance.py
  tests/test_verbnet/test_inheritance.py
Due: ruff, ruff-format, mypy

Adds PropBank and VerbNet loaders; completes implementation of VerbNet inheritance system.
  src/glazing/framenet/loader.py
  src/glazing/propbank/loader.py
  src/glazing/utils/xml_parser.py
  src/glazing/verbnet/inheritance.py
  src/glazing/verbnet/loader.py
  src/glazing/wordnet/models.py
  tests/test_propbank/test_loader.py
  tests/test_verbnet/test_inheritance.py
  tests/test_verbnet/test_loader.py
Due: ruff, ruff-format, mypy

Adds WordNet loader and morphological parser.
  pyproject.toml
  src/glazing/wordnet/loader.py
  src/glazing/wordnet/morphy.py
  tests/test_wordnet/test_loader.py
  tests/test_wordnet/test_morphy.py
Due: ruff, ruff-format, mypy

Adds cross-reference extractor, mapper, and resolver.
  src/glazing/framenet/models.py
  src/glazing/references/extractor.py
  src/glazing/references/mapper.py
  src/glazing/references/models.py
  src/glazing/references/resolver.py
  src/glazing/verbnet/__init__.py
  src/glazing/verbnet/models.py
  tests/test_references/test_extractor.py
  tests/test_references/test_mapper.py
  tests/test_references/test_resolver.py
  tests/test_verbnet/test_models.py
Due: ruff, ruff-format, mypy

Adds dataset-specific search functionality.
  src/glazing/framenet/search.py
  src/glazing/propbank/search.py
  src/glazing/search.py
  src/glazing/verbnet/search.py
  src/glazing/wordnet/relations.py
  src/glazing/wordnet/search.py
  tests/test_framenet/test_search.py
  tests/test_propbank/test_search.py
  tests/test_search.py
  tests/test_verbnet/test_search.py
  tests/test_wordnet/test_relations.py
  tests/test_wordnet/test_search.py
Due: ruff, ruff-format, mypy

Adds dataset downloaders and CLI functionality for downloading.
  pyproject.toml
  src/glazing/cli/__init__.py
  src/glazing/cli/download.py
  src/glazing/downloader.py
  tests/test_cli/test_download.py
  tests/test_downloader.py
  tests/test_framenet/test_downloader.py
  tests/test_propbank/test_downloader.py
  tests/test_verbnet/test_downloader.py
  tests/test_wordnet/test_downloader.py
Due: ruff, ruff-format, mypy

Adds CI.
  .github/workflows/ci.yml
  test_installation.sh
Due: none

Removes python 3.12 from CI.
  .github/workflows/ci.yml
Due: none

Fixes linting errors, windows path issues, and tests for CLI commands.
  .github/workflows/ci.yml
  tests/test_cli/test_download.py
  tests/test_framenet/test_models.py
  tests/test_utils/test_xml_parser.py
  tests/test_verbnet/test_inheritance.py
Due: ruff, ruff-format

Fixes integration test configuration.
  .github/workflows/ci.yml
Due: none

Updates integration test example in CI.
  .github/workflows/ci.yml
Due: none

Homogenizes JSON lines file names.
  src/glazing/cli/convert.py
  src/glazing/cli/search.py
  tests/test_cli/test_convert.py
  tests/test_cli/test_search.py
Due: ruff, ruff-format, mypy

Adds readthedocs config.
  .readthedocs.yaml
Due: none

Adds dependencies necessary for building the docs.
  .readthedocs.yaml
  pyproject.toml
Due: none

Removes pymdownx.emoji extension.
  mkdocs.yml
  pyproject.toml
Due: none

Fixes CLI version issue.
  src/glazing/cli/__init__.py
Due: ruff, ruff-format, mypy

Homogenizes loader API.
  README.md
  docs/api/index.md
  docs/index.md
  docs/quick-start.md
  docs/user-guide/cli.md
  docs/user-guide/cross-references.md
  docs/user-guide/python-api.md
  src/glazing/framenet/loader.py
  src/glazing/framenet/types.py
  src/glazing/initialize.py
  src/glazing/propbank/loader.py
  src/glazing/search.py
  src/glazing/verbnet/loader.py
  src/glazing/wordnet/loader.py
  tests/test_propbank/test_loader.py
  tests/test_search.py
  tests/test_verbnet/test_loader.py
  tests/test_wordnet/test_loader.py
Due: ruff, ruff-format, mypy

Edits formatting and small amounts of content.
  README.md
Due: none

Fixes stale API use.
  src/glazing/framenet/loader.py
  src/glazing/propbank/loader.py
  src/glazing/verbnet/loader.py
  src/glazing/wordnet/loader.py
  tests/test_framenet/test_loader.py
Due: ruff, ruff-format, mypy

Fixes list rendering.
  docs/contributing.md
Due: none

Updates date.
  CHANGELOG.md
Due: none

Updates package description.
  CHANGELOG.md
  README.md
  docs/citation.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/glazing/__init__.py
Due: ruff, ruff-format, mypy

Adds package title.
  README.md
Due: none

Adds dataset links.
  README.md
Due: none

Corrects disk space requirements.
  CHANGELOG.md
  README.md
  docs/index.md
  docs/installation.md
  docs/quick-start.md
Due: none

Adds DOI.
  README.md
  docs/citation.md
  docs/index.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: ^src/ and \.py$
